
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  background-color: var(--primary-color-darker);
  border: none;
  width: 50vw;
  height: 70px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 15px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 40px;
  align-items: start;
  padding: 24px;
  min-height: 500px;
  max-width: 90vw;
}

.content .card {
  justify-content: center;

  background-color: var(--primary-color-darker);
  width: 200px;
  height: 100px;
}
