#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 3em;
}

.main-logo {
    width: 300px;
    height: auto;
    border-radius: 15px;
}

.main-container {
    text-align: center;
    padding: 50px;
    align-self: center;
}

.title-card {
    display: flex;
    flex-direction: column;
   
    gap: 30px;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
}

#main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}