
.header {
  display: flex;
  flex-direction: row;
  background: black;
  align-items: center;
  gap: 20px;
  padding: 0;
  width: 400px;

  border-radius: 15px;

  div {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
  }

  img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
  }

  img:hover {
    cursor: pointer;
  }
}

