:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #010120;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color-light: #5e66f2;
  --primary-color: #5056cc;
  --primary-color-dark: #4146a6;
  --primary-color-darker: #323680;

  --background-color: #080d66;

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  
}

.card {
  display: flex;
  background-color: #010110;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px 50px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}


button {
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color-darker);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--primary-color);
}